@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('imagens/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 98.5vh;
    width: 98vw;

}
.botao{
    width: 50px;
    margin: 10px;
    padding: 10px;
}
.container{
    position: relative;
    width: 300px;
    height: 450px;
    border-radius: 10px;
    background-color: aliceblue;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.imagem-heroi{
    position: absolute;
    background-color: blueviolet;
    width: 250px;
    height: 400px;


}